*{
    padding:0;
    margin:0;
}
.page-container{
    overflow:hidden;
}
/* THE END  */
.final-container{
    background-color:black;
    color:white;
    height:300px;
    
}

.final-container h3{
    font-size: 32px;
    font-weight:400;
    padding:50px;
    position: relative;
    right:-140px;

}

.final-container > h3 > span{
    color:rgb(255, 166, 0);
}

.conclusion{
    display:flex;
    justify-content: space-evenly;

}

.row{
    display:flex;
    justify-content: space-around;
    align-items:center;
    width:100px;
}

.links{
    display:grid;
}

.links > a{
    text-decoration: none;
    color: grey;
    line-height:1.5;
}



















